@charset "utf-8";
/* CSS Document for my Assignment HTML doc*/

h1 {
    font-size: 2em;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
h3 {
    font-size: 1em;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
h3 .sub {
    font-size: .75em;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: dimgray;
}
p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}
img {
    width: 25%;
    height: 25%;
    border-style: solid; 
    border-color: slategray;
}
blockquote {
    padding-left: 50px;
    padding-right: 50px;
}
blockquote p {
    color: #2F4F4F;
}
.main {
    padding-left: 24px;
    padding-right: 24px;
}
.nav {
    list-style-type: none;
    text-align: left; 
    padding: 0;
    margin: 0;
    width: auto;
}

.nav a {
    display: inline-block;
    font-size: 16px;
    padding: 16px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: azure;
    background-color: #2F4F4F;
    margin-right: 8px;
    text-decoration: none
    
}
.nav a:hover {
    background-color: slategray;
    
}