@charset "utf-8";
/* CSS Document for my Assignments*/

h1, h2 {
    font-size: 2em;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    text-shadow: 2px 2px 3px cadetblue;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h3 .sub {
    font-size: .75em;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: dimgray;
}

p {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

img {
    width: 35%;
    height: 35%;
    border-style: solid; 
    border-color: slategray;
}

blockquote {
    padding-left: 50px;
    padding-right: 50px;
}

blockquote p {
    color: #2F4F4F;
}

ul li {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: slategray;
    list-style-type: square;
}

ol li {
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: cadetblue;
    list-style-type: lower-roman;
}

table {
    width: 66%;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    border: 1px solid cadetblue;
    margin-left: auto;
    margin-right: auto;
}

th {
    width: 33%;
    text-align: center;
    font-weight: bold;
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    border: 1px solid cadetblue;
    background-color: cadetblue;
}

td, tr, th {
    border: 1px solid cadetblue;
    padding: 10px;
}

td:hover {
    background-color: aquamarine;
    color: cadetblue;
}

.table {
    margin-top: 75px;
    width: 100%;
    text-align: center;
}

.mainStyle {
    color: slategray;
}

#main {
    padding-left: 24px;
    padding-right: 24px;
}
.nav {
    list-style-type: none;
    text-align: left; 
    padding: 0;
    margin: 0;
    width: auto;
}

.nav a {
    display: inline-block;
    font-size: 16px;
    padding: 16px;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: azure;
    background-color: #2F4F4F;
    margin-right: 8px;
    text-decoration: none
    
}
.nav a:hover {
    background-color: slategray;
    
}
.nav a:active {
    color: #004D46;
    
}

.footer {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
    color: slategray;
}

.pp149 {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}